* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box
}

.window {
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.images {
    display: flex;
    transition: all 1.5s;
}

.images>img {
    width: 100%;
}

button {
    display: inline-block;
    padding: 10px;
    background: white;
}

.active {
    background: grey;
    opacity: 0.8;
}